In [1]:
import pandas as pd
import numpy as np

# 1. LOAD DATA

In [2]:
# Load data
df = pd.read_csv('./data/insurance.csv')
df.head()

    age     sex     bmi  children smoker     region       charges
0  19.0  female  27.900       0.0    yes  southwest     16884.924
1  18.0    male  33.770       1.0     no  Southeast     1725.5523
2  28.0    male  33.000       3.0     no  southeast     $4449.462
3  33.0    male  22.705       0.0     no  northwest  $21984.47061
4  32.0    male  28.880       0.0     no  northwest    $3866.8552

In [3]:
# Load Validation data
df_val = pd.read_csv('./data/validation_dataset.csv')
df_val.head()

    age     sex        bmi  children smoker     region
0  18.0  female  24.090000       1.0     no  southeast
1  39.0    male  26.410000       0.0    yes  northeast
2  27.0    male  29.150000       0.0    yes  southeast
3  71.0    male  65.502135      13.0    yes  southeast
4  28.0    male  38.060000       0.0     no  southeast

In [11]:
# Print shapes
print(df.shape)
print(df_val.shape)

(1338, 7)
(50, 6)

# 2. EDA

In [ ]:
# Statisitical analysis
df.describe()

               age          bmi     children
count  1272.000000  1272.000000  1272.000000
mean     35.214623    30.560550     0.948899
std      22.478251     6.095573     1.303532
min     -64.000000    15.960000    -4.000000
25%      24.750000    26.180000     0.000000
50%      38.000000    30.210000     1.000000
75%      51.000000    34.485000     2.000000
max      64.000000    53.130000     5.000000

In [14]:
df_val.describe()

             age        bmi   children
count  50.000000  50.000000  50.000000
mean   46.820000  39.539907   2.780000
std    21.681074  17.725844   4.026899
min    18.000000  18.715000   0.000000
25%    28.000000  27.575000   0.000000
50%    44.500000  33.807500   1.000000
75%    60.750000  40.208750   2.750000
max    92.000000  89.097296  13.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1272 non-null   float64
 1   sex       1272 non-null   object
 2   bmi       1272 non-null   float64
 3   children  1272 non-null   float64
 4   smoker    1272 non-null   object
 5   region    1272 non-null   object
 6   charges   1284 non-null   object
dtypes: float64(3), object(4)
memory usage: 73.3+ KB

In [15]:
df_val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       50 non-null     float64
 1   sex       50 non-null     object
 2   bmi       50 non-null     float64
 3   children  50 non-null     float64
 4   smoker    50 non-null     object
 5   region    50 non-null     object
dtypes: float64(3), object(3)
memory usage: 2.5+ KB

In [16]:
df.isnull().sum()

age         66
sex         66
bmi         66
children    66
smoker      66
region      66
charges     54
dtype: int64

In [17]:
df_val.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64

# 3. PREPROCESSING