In [1]:
import pandas as pd
import numpy as np

In [3]:
# Load data
df = pd.read_csv('./data/insurance.csv')
df.head()

    age     sex     bmi  children smoker     region       charges
0  19.0  female  27.900       0.0    yes  southwest     16884.924
1  18.0    male  33.770       1.0     no  Southeast     1725.5523
2  28.0    male  33.000       3.0     no  southeast     $4449.462
3  33.0    male  22.705       0.0     no  northwest  $21984.47061
4  32.0    male  28.880       0.0     no  northwest    $3866.8552

In [7]:
# Load Validation data
df_val = pd.read_csv('./data/validation_dataset.csv')
df_val.head()

    age     sex        bmi  children smoker     region
0  18.0  female  24.090000       1.0     no  southeast
1  39.0    male  26.410000       0.0    yes  northeast
2  27.0    male  29.150000       0.0    yes  southeast
3  71.0    male  65.502135      13.0    yes  southeast
4  28.0    male  38.060000       0.0     no  southeast

In [10]:
print(df.shape)
print(df_val.shape)

(1338, 7)
(50, 6)